/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#anchorPane{
	-fx-background-color:#617891
	}

.numberButtons{
	-fx-background-color:#3b6ba1;
	-fx-border-color:#617891;
	-fx-font-size:20px;
	-fx-text-fill:white;
}
.numberButtons:hover{
	-fx-background-color:#3399ff;
}
.numberButtons:pressed{
	-fx-background-color:white;
	-fx-text-fill:black;
}
.operationButtons{
	-fx-background-color:#2a3e54;
	-fx-border-color:#617891;
	-fx-font-size:20px;
	-fx-text-fill:white;
}
.operationButtons:hover{
	-fx-background-color:#3399ff;
}
.operationButtons:pressed{
	-fx-background-color:white;
	-fx-text-fill:black;
}

.label{
	-fx-background-color:#617891;
	-fx-text-fill:white;
	}
	
#gridPane{
	-fx-border-color:#617891;
	}
